streamlit==0.76.0
numpy==1.20.1
scipy==1.6.1
matplotlib==3.3.4
pandas==1.2.2

# These two are required for recent setups, 
# but I have not tested yet on the streamlit host yet ...
# Should check after updating to latest streamlit version
# protobuf==3.20
# click==8.0.4

